body {
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    font-family: Arial, sans-serif;
}

.login-container {
    width: 30%;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

    .login-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        font-weight: bold;
        display: block;
    }

    .form-group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

button {
    width: fit-content;
    padding: 10px;
    background: #2f80ed;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

    button:hover {
        background: #1e5fbd;
    }

.text-danger {
    color: red;
}

.register-link {
    text-align: center;
    display: block;
    margin-top: 10px;
}
